body {
  overflow-x: hidden;
  font-family: "Times New Roman";
}


/* Navbar Section */
.navbar {
    background: #49497e;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
  }

  .active {
    text-decoration: underline;
    font-weight: bold;
  }

  .nav-link{
    margin: 0 30px;
  }

/* Header */
  header {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/Food.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
  }
  .header-content h2 {
    font-size: 4vmin;
  }
  .line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    border-color: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
  }
  .header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
  }

.food-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Food.jpg);
    background-size: cover;
    background-position: center;
}

.food-background {
    text-align: center;
    color: white;
}

.food-title {
    font-size: 35px;
    margin-bottom: 10px;
}

.food-line {
    width: 200px;
    height: 5px;
    background-color: #FC036B;
    margin: 0 auto 20px auto;
}

.food-subtitle {
    font-size: 70px;
}



.food-page {
    background-color: #fff;
    text-align: center;
    padding: 50px;
}

.Restaurant-title {
    color: #49497e;
    font-size: 2rem;
    margin-bottom: 20px;
}

.restaurant-line {
    width: 250px;
    height: 5px;
    background-color: #FC036B;
    margin: 0 auto 20px auto;
}

.food-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.food-description {
    flex: 1;
    padding: 20px;
    text-align: left;
    color: #49497E;
}

.food-description p {
    font-size: 1.2rem;
}

.restaurant-info {
    background-color: #49497E;
}

.instagram-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E1306C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.instagram-button:hover {
    background-color: #C72059;
}

.Restaurant-title2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.food-details2 {
    display: flex;
    flex-direction: row-reverse; /* Фото справа, текст слева */
    align-items: center;
}

.food-image2 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
}

.food-description2 {
    text-align: left;
    color:#fff;
}

.food-page2{
    background-color: #49497E;
    text-align: center;
    padding: 50px;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
    color:#fff;
  }
