body {
    margin: 0;
    padding: 0;
}

/* Navbar Section */
.navbar {
    background: #49497e;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
  }
  
  .active {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .nav-link{
    margin: 0 30px;
  }


.contact-section {
    padding: 50px 0;
}

.contact-image {
    max-width: 600px;
    height: auto;
}

.contact-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
    font-size: 2rem;
}

.title-line {
    width: 150px;
    height: 2px;
    background-color: #FC036B;
    margin: 20px 0;
}

.contact-form {
    text-align: left;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #FC036B;
    color: #2c2b2b1a;
}

.btn-primary:hover {
    background-color: #FF148A;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
    color:#fff;
  }
